* {
  margin: 0;
  padding: 0;
}



body {

  display: flex;
  justify-content: center;
  align-items: center;
}



#root {
  
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {

  height: 35vh;
  width: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

}


.panel {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  /* background-color: aqua; */


}


input {
  width: 98%;
  height: 2.2rem;
  padding-left: 5px;
}

